@import 'variables';

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 2;
    }
}
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideOutToTop {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideOutToLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideOutToRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
// font
@mixin sourceSansPro-ultra-light {
    font: {
        family: $font-sourceSansPro;
        weight: 200;
    }
}
@mixin sourceSansPro-light {
    font: {
        family: $font-sourceSansPro;
        weight: 300;
    }
}
@mixin sourceSansPro-regular {
    font: {
        family: $font-sourceSansPro;
        weight: 400;
    }
}
@mixin sourceSansPro-bold {
    font: {
        family: $font-sourceSansPro;
        weight: bold;
    }
}
@mixin montserrat-ultra-light {
    font: {
        family: $font-montserrat;
        weight: 200;
    }
}
@mixin montserrat-light {
    font: {
        family: $font-montserrat;
        weight: 300;
    }
}
@mixin montserrat-regular {
    font: {
        family: $font-montserrat;
        weight: 400;
    }
}
@mixin montserrat-bold {
    font: {
        family: $font-montserrat;
        weight: bold;
    }
}

@mixin sourceSansPro3($fontWeight, $fontSize, $textColor) {
    color: $textColor;
    font: {
        family: $font-sourceSansPro;
        weight: $fontWeight;
        size: $fontSize;
    }
}
@mixin sourceSansPro2($fontWeight, $fontSize) {
    font: {
        family: $font-sourceSansPro;
        weight: $fontWeight;
        size: $fontSize;
    }
}

@mixin montserrat3($fontWeight, $fontSize, $textColor) {
    color: $textColor;
    font: {
        family: $font-sourceSansPro;
        weight: $fontWeight;
        size: $fontSize;
    }
}

@mixin montserrat2($fontWeight, $fontSize) {
    font: {
        family: $font-sourceSansPro;
        weight: $fontWeight;
        size: $fontSize;
    }
}

//

$breakpoints: (
    phone-sm: 420px,
    phone: 767px,
    tablet: 768px,
    tablet-lg: 1024px,
    desktop: 1025px,
    desktop-lg: 1600px,
);

@mixin between-sizes($lower, $upper) {
    //Kiểm tra breakpoint truyền vào có tồn tại như bạn đã định nghĩa hay không.
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper)
    {
        // Lấy giá trị pixel breakpoint đó
        $lower-breakpoint: map-get($breakpoints, $lower);
        $upper-breakpoint: map-get($breakpoints, $upper);

        //Build media query tự động
        @media (min-width: $lower-breakpoint) and (max-width: $upper-breakpoint) {
            @content;
        }
    } @else {
        //Build media query tự động
        @media (min-width: $lower) and (max-width: $upper) {
            @content;
        }
    }
}

@mixin for-size($breakpoint) {
    //Kiểm tra breakpoint truyền vào có tồn tại như bạn đã định nghĩa hay không.
    @if map-has-key($breakpoints, $breakpoint) {
        // Lấy giá trị pixel breakpoint đó
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        //Build media query
        @media (max-width: $breakpoint-value) {
            //Những gì bạn mong muốn sẽ được lồng vào @content
            @content;
        }
    }
}

@mixin for-size($breakpoint, $direction: down) {
    //neu breakpoint ton tai
    @if map-has-key($breakpoints, $breakpoint) {
        //Kiểm tra breakpoint truyền vào có tồn tại như bạn đã định nghĩa hay không.
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        // Xác định min-width hay max-width
        @if $direction == up {
            //Build media query
            @media (min-width: $breakpoint-value) {
                @content;
            }
        } @else if $direction == down {
            //Build media query
            @media (max-width: $breakpoint-value) {
                @content;
            }
        }
    }
}
.hidden {
    display: none;
}

.border-top-grey {
    border-top: 1px solid $border-color-grey;
}
.border-bottom-grey {
    border-bottom: 1px solid $border-color-grey;
}
.border-bottom-dash-grey {
    border-bottom: 1px dashed $border-color-grey;
}
.icon-gold-color {
    color: $color-gold !important;
}
.icon-red-color {
    color: #f55043 !important;
}
.icon-crimson-color {
    color: $color-crimson !important;
}
.icon-salmon-color {
    color: $color-salmon !important;
}
.icon-coral-color {
    color: $color-coral !important;
}
.icon-yellow-green-color {
    color: $color-yellow-green !important;
}
.icon-yellow-green-dark-color {
    color: $color-yellow-green-dark !important;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.grid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.categories {
    width: 25%;
    @include montserrat-bold;
    &-title {
        height: 44px;
        line-height: 44px;
        text-transform: uppercase;
        font-size: 1.9rem;
    }
    &-list1 {
        border-collapse: collapse;
        border: 1px solid $border-color-grey;
        * {
            box-sizing: border-box;
        }
        .categories-selection {
            width: 100%;
            height: 50px;
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid $border-color-grey;
            &:hover {
                color: #00bcd4 !important;
            }
        }
        .categories-no-selection {
            @extend .categories-selection;
        }
        .categories-options {
            display: none;
        }
        &-item {
            font-size: 1.4rem;
            .sub-list-lv1-selection {
                text-transform: uppercase;
            }
            .sub-list-lv1-menu {
                .sub-list-lv1-item {
                    background-color: #f4f6f7;
                    @include sourceSansPro-regular;
                    text-transform: capitalize;
                    font-size: 1.6rem;
                    &.categories-no-selection {
                        padding-left: 32px;
                        color: #5f727f;
                    }
                }
                .sub-list-lv2-selection {
                    color: #5f727f;
                    padding-left: 32px;
                    i {
                        font-size: 1.2rem;
                    }
                }
                .sub-list-lv2-menu {
                    background-color: #e4eaed;
                    .sub-list-lv2-item {
                        padding-left: 48px;
                    }
                }
            }
        }
    }
    #search-product {
        width: 100%;
        height: 40px;
        background-image: url('/img/search-icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        outline: none;
        border-color: $border-color-grey;
        border-radius: 2px;
        font-size: 1.6rem;
        margin-top: 64px;
        &:focus {
            background-image: unset;
        }
    }
    input::-webkit-input-placeholder {
        font-size: 1.6rem;
    }
    &-list2 {
        li {
            margin-top: 56px;
        }
        &-item {
            position: relative;
            &-title {
                text-transform: uppercase;
                font-size: 1.9rem;
                @include montserrat-bold;
            }
            &-content {
                width: 100%;
                margin-top: 28px;
            }
            .content1 {
                display: flex;
                flex-wrap: wrap;
                input[type='range'] {
                    position: absolute;
                    pointer-events: none;
                    -webkit-appearance: none;
                    z-index: 2;
                    height: 10px;
                    width: 100%;
                    opacity: 0;
                }
                input[type='range']::-webkit-slider-thumb {
                    pointer-events: all;
                    width: 60px;
                    height: 60px;
                    border-radius: 0;
                    border: 0 none;
                    -webkit-appearance: none;
                }
                .range-slider {
                    position: relative;
                    z-index: 1;
                    height: 6px;
                    margin: 24px 7px;
                    width: 100%;
                    .track {
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        border-radius: 5px;
                        background-color: #f0f3f2;
                        box-shadow: 0 0 5px 2px #ddd;
                    }
                    .range {
                        position: absolute;
                        z-index: 2;
                        left: 25%;
                        right: 25%;
                        top: 0;
                        bottom: 0;
                        border-radius: 5px;
                        background-color: #b6c6c9;
                    }
                    .thumb {
                        position: absolute;
                        z-index: 3;
                        width: 14px;
                        height: 14px;
                        background-color: #00bcd4;
                        border-radius: 50%;
                        box-shadow: 0 0 0 0 rgba(0, 188, 212, 0.1);
                        transition: box-shadow 0.3s ease-in-out;
                        &.left {
                            left: 25%;
                            transform: translate(-7px, -3.5px);
                        }
                        &.right {
                            right: 25%;
                            transform: translate(7px, -3.5px);
                        }
                        &.hover {
                            box-shadow: 0 0 0 5px rgba(0, 188, 212, 0.1);
                        }
                        &.active {
                            box-shadow: 0 0 0 7px rgba(0, 188, 212, 0.2);
                        }
                    }
                }
                .filter-btn {
                    padding: 8px 12px;
                    border: solid 2px #00bcd4;
                    border-radius: 2px;
                    color: #00bcd4;
                    text-transform: uppercase;
                    @include montserrat-bold;
                }
                .display {
                    flex: 1;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: #99a9b5;
                    @include sourceSansPro-regular;
                    font-size: 1.6rem;
                    span {
                        color: #5f727f;
                    }
                }
            }
            .content2 {
                color: #99a9b5;
                font: {
                    size: 1.6rem;
                    weight: 400;
                }
                width: 100%;
                &-selection {
                    max-width: 100%;
                    height: 40px;
                    border: solid 2px $border-color-grey;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;
                }
                &-list {
                    &-item {
                        margin: 0;
                        @extend .content2-selection;
                        margin-top: -1px;
                    }
                }
            }
            .content3 {
                @extend .content2;
            }
            .content4 {
                &-list {
                    &-item {
                        margin: 0;
                        &-link {
                            width: 100%;
                            height: 100px;
                            background-color: #f0f3f2;
                            display: flex;
                            .content4-list-item-img {
                                margin: 20px;
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                                background-color: #888;
                            }
                            .content4-list-item-content {
                                color: #5f727f;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                & * {
                                    margin: 4px 0;
                                }
                                font-size: 1.6rem;
                                @include sourceSansPro-regular;
                                &-title {
                                    text-transform: capitalize;
                                    position: relative;
                                    &.percent-tag::before {
                                        content: '%';
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #ffffff;
                                        width: 24px;
                                        height: 24px;
                                        border-radius: 50%;
                                        background-color: #00bcd4;
                                        position: absolute;
                                        left: -30px;
                                        top: -4px;
                                    }
                                }
                                &-price {
                                    color: #3c3950;
                                    font-weight: 300;
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
            .content5 {
                width: 100%;
                margin: 0;
                &-list {
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    &-item {
                        width: fit-content;
                        margin: 6px;
                        padding: 8px 10px;
                        border: 1px solid $border-color-grey;
                        color: #5f727f;
                        font-size: 1.6rem;
                        @include sourceSansPro-regular;
                    }
                }
            }
            .content6 {
                &-list {
                    &-item {
                        margin: 0 0 16px 0;
                        &-link {
                            width: 100%;
                            height: 100px;
                            background-color: #f0f3f2;
                            display: flex;
                            .content6-list-item-img {
                                margin-right: 20px;
                                width: 100px;
                                height: 100px;
                                background-color: #888;
                            }
                            .content6-list-item-content {
                                color: #5f727f;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                & * {
                                    margin: 4px 0;
                                }
                                font-size: 1.6rem;
                                @include sourceSansPro-regular;
                                &-title {
                                    text-transform: capitalize;
                                    position: relative;
                                    &.percent-tag::before {
                                        content: '%';
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #ffffff;
                                        width: 24px;
                                        height: 24px;
                                        border-radius: 50%;
                                        background-color: #00bcd4;
                                        position: absolute;
                                        left: -30px;
                                        top: -4px;
                                    }
                                }
                                &-price {
                                    color: #3c3950;
                                    font-weight: 300;
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
            .content7 {
                width: 100%;
                height: 580px;
                background-color: #ff5176;
                position: relative;
                .content7-email-form {
                    position: absolute;
                    bottom: 45px;
                    left: calc(50% - 85px);
                    width: fit-content;
                    #email-coupon {
                        width: 162px;
                        height: 34px;
                    }
                    input::-webkit-input-placeholder {
                        color: #99a9b5;
                        font-size: 1.6rem;
                        @include sourceSansPro-regular;
                    }
                    &-sign-up-btn {
                        width: 170px;
                        height: 40px;
                        background-color: #2c2e3d;
                        color: #ffffff;
                        font-size: 1.4rem;
                        @include montserrat-bold;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase;
                        margin-top: 14px;
                    }
                }
            }
            .content8 {
                &-list {
                    &-item {
                        margin: 0 0 16px 0;
                        &-link {
                            width: 100%;
                            height: 100px;
                            background-color: #f0f3f2;
                            display: flex;
                            .content8-list-item-img {
                                margin-right: 20px;
                                width: 100px;
                                height: 100px;
                                background-color: #888;
                            }
                            .content8-list-item-content {
                                color: #5f727f;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                & * {
                                    margin: 4px 0;
                                }
                                font-size: 1.6rem;
                                @include sourceSansPro-regular;
                                &-title {
                                    text-transform: capitalize;
                                    position: relative;
                                    &.percent-tag::before {
                                        content: '%';
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #ffffff;
                                        width: 24px;
                                        height: 24px;
                                        border-radius: 50%;
                                        background-color: #00bcd4;
                                        position: absolute;
                                        left: -30px;
                                        top: -4px;
                                    }
                                }
                                &-price {
                                    color: #3c3950;
                                    font-weight: 300;
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
            .content9 {
                width: 100%;
                background-color: #f4f6f7;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 36px 28px;
                span {
                    color: $text-color-grey;
                    @include sourceSansPro-regular;
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                }
                &-btn {
                    margin-top: 40px;
                    padding: 8px 16px;
                    border: 2px solid #00bcd4;
                    border-radius: 3px;
                    font-size: 1.4rem;
                    @include montserrat-bold;
                    text-transform: uppercase;
                    color: #00bcd4;
                }
            }
        }
    }
    &-cart {
        padding-top: 34px;
        &-subtotal {
            width: 100%;
            display: flex;
            justify-content: space-between;
            &-text {
                font-size: 1.6rem;
                @include sourceSansPro-light;
                color: #5f727f;
            }
            &-value {
                font-size: 2.4rem;
                @include sourceSansPro-regular;
            }
        }
        &-btn {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 32px;
            button {
                width: 124px;
                height: 30px;
                border-radius: 2px;
                text-transform: uppercase;
                outline: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;
                @include montserrat-bold;
            }
            &__view-cart {
                background-color: #00bcd4;
                color: #ffffff;
            }
            &__checkout {
                color: #000000;
                border: 1px solid #000000 !important;
            }
        }
    }
}

.product {
    position: relative;
    margin-bottom: 80px;
    &-briefing {
        width: 100%;
        display: flex;
        &-left {
            width: 362px;
            .gallery-slider {
                width: 100%;
                margin-bottom: 100px;
                &-img {
                    height: 478px;
                    width: 100%;
                    margin-bottom: 14px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 1px solid #f0f3f2;
                }
                &-nav {
                    height: 84px;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    &-marker {
                        position: absolute;
                        left: calc(50% - 12px);
                        top: -20px;
                        z-index: 5;
                        i {
                            font-size: 3rem;
                            color: #42c8da;
                        }
                    }
                    &-prev-btn,
                    &-next-btn {
                        min-width: 80px;
                        width: 80px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #dfe5e8;
                        cursor: pointer;
                        i {
                            font-size: 1.6rem;
                            color: #3c3950;
                        }
                    }
                    .gallery-slider-nav-box {
                        flex: 1;
                        overflow: hidden;
                        margin: 0 8px;
                        position: relative;

                        .gallery-slider-nav-imgs {
                            display: flex;
                            position: absolute;
                            left: calc(50% - 48px);
                            .gallery-slider-nav-img {
                                width: 80px;
                                height: 80px;
                                margin: 0 8px;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                                transition: 1s;
                                border: 1px solid $border-color-grey;
                                border-radius: 4px;
                                cursor: pointer;
                                &:hover {
                                    transition: 2s;
                                    background-color: #828e97;
                                    background-image: none !important;
                                }
                            }
                        }
                    }
                }
            }
            .socials-sku {
                width: 100%;
                .socials {
                    display: flex;
                    margin-bottom: 36px;
                    a {
                        display: block;
                        margin: 0 10px;
                        color: #99a9b5;
                        font-size: 1.6rem;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                .sku {
                    @include sourceSansPro-regular;
                    font-size: 1.6rem;
                    color: #99a9b5;
                    line-height: 3.2rem;
                    &-code {
                        span {
                            color: $text-color-grey;
                        }
                    }
                    &-categories {
                        display: flex;
                        a {
                            color: #00bcd4;
                        }
                    }
                    &-tags {
                        display: flex;
                        .sku-tag {
                            margin-left: 15px;
                            position: relative;
                            padding: 0 16px 0 24px;
                            width: fit-content;
                            background-color: #e7edf0;
                            border-radius: 3px;
                            i {
                                position: absolute;
                                font-size: 0.6rem;
                                color: #ffffff;
                                top: calc(50% - 0.3rem);
                                left: 6px;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                border-top: solid 14px #ffffff;
                                border-right: solid 14px transparent;
                            }
                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                border-bottom: solid 14px #ffffff;
                                border-right: solid 14px transparent;
                            }
                        }
                    }
                }
            }
        }
        &-right {
            flex: 1;
            @include sourceSansPro-regular;
            font-size: 1.6rem;
            color: #3c3950;
            .title {
                margin-right: 40px;
                @include montserrat-bold;
                font-size: 2.8rem;
                line-height: 4.4rem;
                text-transform: uppercase;
            }
            .reviews {
                display: flex;
                align-items: flex-end;
                margin-top: 24px;
                margin-bottom: 2px;
                padding-bottom: 18px;
                border-bottom: 1px solid $border-color-grey;
                &-stars {
                    font-size: 2.4rem;
                    color: #b6c6c9;
                }
                &-amount {
                    margin-left: 10px;
                    color: #00bcd4;
                }
            }
            .price-des {
                padding-top: 65px;
                border-top: 1px solid $border-color-grey;
                .price {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .old-price,
                    .new-price {
                        display: flex;
                        flex-direction: column;
                        color: #99a9b5;
                        line-height: 4rem;
                        span:first-child {
                            font-size: 1.4rem;
                        }
                        span:last-child {
                            font-size: 2.4rem;
                            font-weight: 300;
                        }
                    }
                    .old-price {
                        span:last-child {
                            text-decoration: line-through;
                        }
                    }
                    .new-price {
                        span:first-child {
                            color: #f44336;
                        }
                        span:last-child {
                            font-size: 3.6rem;
                        }
                    }
                }
                .decription {
                    margin-top: 36px;
                    color: $text-color-grey;
                    line-height: 2.5rem;
                }
            }
            .product-options {
                width: 100%;
                margin-top: 60px;
                .product-option {
                    display: flex;
                    align-items: center;
                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }
                    span {
                        display: block;
                        width: 52px;
                    }
                    &-selection {
                        width: 260px;
                        height: 40px;
                        border: 1px solid $border-color-grey;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 14px;
                        position: relative;
                        &:hover > .product-option-menu {
                            display: block;
                        }
                        .product-option-menu {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            &-item {
                                background-color: #ffffff;
                                color: #b5c7c9;
                                z-index: 2;
                                @extend .product-option-selection;
                                &:hover {
                                    background-color: #e7edf0;
                                }
                            }
                        }
                    }
                    &-clear-selection {
                        color: #00bcd4;
                    }
                }
            }
            .product-current-price {
                margin-top: 72px;
                display: flex;
                align-items: baseline;
                :not(:last-child) {
                    margin-right: 20px;
                }
                * {
                    line-height: normal;
                }
                .old-price {
                    font-weight: 300;
                    font-size: 2.4rem;
                    color: #99a9b5;
                    text-decoration-line: line-through;
                }
                .new-price {
                    font-weight: 300;
                    font-size: 5rem;
                }
                .stock {
                    color: #99a9b5;
                }
            }
            .product-cart {
                margin-top: 20px;
                display: flex;
                align-items: center;
                > * {
                    border-radius: 3px;
                    height: 40px;
                    margin-right: 16px;
                    padding: 0 18px;
                    font-weight: bold;
                    i {
                        margin-right: 6px;
                    }
                }
                .client-product-amount {
                    width: 40px;
                    padding: 5px;
                    box-sizing: border-box;
                    border: {
                        width: 1px;
                        color: $border-color-grey;
                        style: solid;
                    }
                    &:focus {
                        border: none;
                    }
                }
                .add-to-cart-btn {
                    text-transform: uppercase;
                    background-color: #00bcd4;
                    border: none;
                    color: #ffffff;
                }
                .wishlist-btn {
                    text-transform: uppercase;
                    color: #b5c7c9;
                    background-color: #ffffff;
                    border: {
                        width: 2px;
                        color: #b6c6c9;
                        style: solid;
                    }
                }
            }
            .product-guide {
                margin-top: 20px;
                color: #00bcd4;
            }
        }
        .product-resize-btn {
            width: 30px;
            height: 30px;
            border: 2px solid #b6c6c9;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            i {
                color: #b6c6c9;
                font-size: 1.2rem;
            }
        }
    }
}

.product-tabs {
    position: relative;
    padding-top: 50px;
    &-btns {
        position: absolute;
        top: 0;
        display: flex;
        z-index: 2;
        color: #5f727f;
        .product-tabs-btn {
            height: 50px;
            padding: 0 26px;
            line-height: 50px;
            margin-right: 5px;
            background-color: #f4f6f7;
            @include montserrat-light;
            font-size: 1.4rem;
            text-transform: uppercase;
            &.btn1 {
                background-color: #ffffff;
                border: 1px solid #b4c8c6;
                border-bottom: none;
                font-weight: bold;
            }
            span {
                color: red;
            }
        }
    }
    .product-tab {
        padding: 44px;
        display: none;
        border: 1px solid #b4c8c6;
        &.tab1 {
            display: block;
        }
        &-content {
            display: flex;
            flex-wrap: wrap;
            &-item {
                width: calc((100% - 80px) / 3);
                margin-top: 50px;
                display: flex;
                &:nth-of-type(3n + 2) {
                    margin-left: 40px;
                    margin-right: 40px;
                }
                &:nth-of-type(6n + 1),
                &:nth-of-type(6n + 2),
                &:nth-of-type(6n + 3) {
                    padding-bottom: 50px;
                    border-bottom: 1px solid $border-color-grey;
                }
                &-symbol {
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    margin-right: 18px;
                    border-radius: 50%;
                    background-color: #f4f6f7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

.product-next-prev {
    padding: 40px 0 68px 0;
    @include montserrat-bold;
    font-size: 1.4rem;
    color: #b6c6c9;
    display: flex;
    justify-content: space-between;
    & > * {
        width: 90px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: {
            width: 2px;
            color: #b6c6c9;
            style: solid;
            radius: 2px;
        }
        &:first-child {
            i {
                margin-right: 12px;
            }
        }
        &:last-child {
            i {
                margin-left: 12px;
            }
        }
    }
}

.related-products {
    margin-top: 70px;
    margin-bottom: 112px;
    &-title {
        width: 100%;
        @include montserrat-light;
        color: #3c3950;
        font-size: 3.6rem;
        line-height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        span {
            margin: 0 20px;
        }
        .line {
            height: 3px;
            flex: 1;
            border: {
                top: 2px solid #dfe5e8;
                bottom: 2px solid #dfe5e8;
            }
        }
    }
    &-content {
        display: flex;
        margin-top: 68px;
        padding-left: 20px;
        overflow-x: scroll;
        .related-products-item {
            min-width: 180px;
            width: 200px;
            margin-right: 40px;
            &-img {
                height: 200px;
                background-color: #f0f3f2;
                position: relative;
                & > * {
                    border-radius: 50%;
                    font-size: 1.4rem;
                    @include montserrat-bold;
                    color: #ffffff;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .sale-tag {
                    width: 60px;
                    height: 60px;
                    background-color: #00bcd4;
                    right: -20px;
                    top: 20px;
                    z-index: 2;
                }
                .new-tag {
                    width: 50px;
                    height: 50px;
                    background-color: #393d50;
                    right: -15px;
                    top: 68px;
                    z-index: 1;
                }
            }
            .related-products-item-content {
                width: 100%;
                height: 86px;
                @include sourceSansPro-regular;
                font-size: 1.6rem;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #dfe5e8;
                border-top: none;
                box-sizing: border-box;
                .product-name {
                    color: #5f727f;
                }
                .product-price {
                    margin-top: 16px;
                    color: #00bcd4;
                }
            }
        }
    }
}

.product-more-info {
    margin-top: 60px;
    &-list {
        &-item {
            padding-bottom: 12px;
            border-bottom: 1px solid $border-color-grey;
            font-size: 1.6rem;
            &-title {
                margin-top: 12px;
                @include montserrat-light;
                color: #5f727f;
                display: flex;
                text-transform: uppercase;
                align-items: center;
                &-symbol {
                    width: 18px;
                    height: 18px;
                    margin-right: 12px;
                    background-color: #b6c6c9;
                    border-radius: 1px;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 18px;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 2rem;
                }
            }
            &-content {
                margin: 50px 0;
                display: none; //flex
                .img {
                    min-width: 140px;
                    width: 140px;
                    height: 140px;
                    background-color: #f0f3f2;
                    margin-right: 28px;
                }
                .text {
                    @include sourceSansPro-regular;
                    color: #5f727f;
                    line-height: 2.5rem;
                }
            }
        }
    }
}

.advertisements {
    width: 100%;
    background-color: #f4f6f7;
    .advertisement-link {
        width: 100%;
        display: flex;
        justify-content: center;
        &:nth-of-type(2n) {
            .advertisement-cnt {
                margin: 0 0 0 auto;
                padding-right: 64px;
            }
        }
        &:nth-of-type(2n + 1) {
            .advertisement-cnt {
                margin: 0 auto 0 0;
                padding-left: 64px;
            }
        }
        .advertisement-img {
            max-width: 50%;
            width: 50%;
            height: 620px;
            background-color: #dfe5e8;
        }
        .advertisement-cnt {
            max-width: 600px;
            padding-top: 108px;
            box-sizing: border-box;
            &-title {
                font-size: 5rem;
                @include montserrat-light;
                color: #3c3950;
                line-height: 7rem;
            }
            &-sub-title,
            &-detail {
                @include sourceSansPro-light;
                color: #5f727f;
                font-size: 2.4rem;
                line-height: 3.7rem;
            }
            &-sub-title {
                margin-top: 40px;
            }
            &.style1 {
                .advertisement-cnt-sub-title {
                    display: flex;
                    align-items: center;
                    .icon {
                        width: 50px;
                        min-width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin-right: 20px;
                        background-color: #ff8636;
                        text-align: center;
                        vertical-align: center;
                        line-height: 5rem;
                        color: #ffffff;
                        font-size: 2rem;
                        font-weight: 400;
                    }
                }
            }
            &.style2 {
                .advertisement-cnt-detail {
                    margin-top: 40px;
                    font-size: 1.6rem;
                    @include sourceSansPro-regular;
                    &-item {
                        display: flex;
                        align-items: center;
                        i {
                            color: $color-salmon;
                            font-size: 1rem;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.hot-topics {
    width: 100vw;
    background-color: #f0f3f2;
    &-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 110px 0;
        display: flex;
        .hot-topic {
            width: calc((100% - 80px) / 3);
            &:nth-of-type(3n + 2) {
                margin: 0 40px 0 40px;
            }
            &-title {
                text-transform: uppercase;
                font-size: 1.9rem;
                @include montserrat-bold;
            }
            &-content {
                margin-top: 32px;
                &-list {
                    &-item {
                        position: relative;
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                        &-link {
                            width: 100%;
                            height: 80px;
                            background-color: #ffffff;
                            display: flex;
                            .hot-topic-content-list-item-img {
                                margin-right: 20px;
                                width: 80px;
                                height: 80px;
                                background-color: #888;
                            }
                            .hot-topic-content-list-item-content {
                                color: #5f727f;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                font-size: 1.6rem;
                                @include sourceSansPro-regular;
                                & * {
                                    margin: 4px 0;
                                }
                                &-title {
                                    text-transform: capitalize;
                                    position: relative;
                                    &.percent-tag::before {
                                        content: '%';
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #ffffff;
                                        width: 24px;
                                        height: 24px;
                                        border-radius: 50%;
                                        background-color: #00bcd4;
                                        position: absolute;
                                        left: -30px;
                                        top: -4px;
                                    }
                                }
                                &-price {
                                    color: #3c3950;
                                    font-weight: 300;
                                    font-size: 2rem;
                                }
                                &-stars {
                                    position: absolute;
                                    right: 15px;
                                    bottom: 0;
                                    i {
                                        color: #b6c6c9;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.onStep {
    background-color: #ffd453 !important;
    color: #3c3950 !important;
    &:after {
        background-color: #ffd453 !important;
    }
}
.steps {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 62px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    .step {
        width: 25%;
        height: 100%;
        padding-left: 20px;
        background-color: #e9f0ef;
        @include montserrat-bold;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        position: relative;
        text-transform: uppercase;
        color: #99a9b5;
        &:first-child {
            clip-path: polygon(
                0 0,
                calc(100% - 32px) 0,
                calc(100% - 4px) 50%,
                calc(100% - 32px) 100%,
                0 100%
            );
        }
        &:not(:first-child):not(:last-child) {
            clip-path: polygon(
                -28px 0,
                calc(100% - 32px) 0,
                calc(100% - 4px) 50%,
                calc(100% - 32px) 100%,
                -28px 100%,
                0 50%
            );
            &::after {
                content: '';
                background-color: #e9f0ef;
                width: 28px; // 32px - 4px
                height: 100%;
                position: absolute;
                left: -28px;
                z-index: 2;
            }
            &:hover {
                color: #ffffff;
                background-color: #b6c6c9;
                &:after {
                    background-color: #b6c6c9;
                }
            }
        }
        &:last-child {
            clip-path: polygon(-28px 0, 100% 0, 100% 100%, -28px 100%, 0 50%);
            &::after {
                content: '';
                background-color: #e9f0ef;
                width: 28px; // 32px - 4px
                height: 100%;
                position: absolute;
                left: -28px;
                z-index: 2;
            }
        }
        &:hover {
            color: #ffffff;
            background-color: #b6c6c9;
            &:after {
                background-color: #b6c6c9;
            }
        }
    }
}

button.scroll-up-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #161723;
    opacity: 0.6;
    color: #58606c;
    font-size: 2.4rem;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (max-width: 767.98px) {
    .steps {
        height: unset;
        display: block;
        border-radius: 5px;
        overflow: visible;
        .step {
            height: 62px;
            &:not(:first-child) {
                margin-top: -40px;
            }
            &:nth-of-type(2) {
                margin-left: 25%;
            }
            &:nth-of-type(3) {
                margin-left: 50%;
            }
            &:last-child {
                margin-left: 75%;
            }
            &:hover {
                color: #ffffff;
                background-color: #b6c6c9;
                &:after {
                    background-color: #b6c6c9;
                }
            }
        }
    }

    .product {
        &-briefing {
            display: flex;
            flex-wrap: wrap;
            &-left {
                width: 100% !important;
            }
            &-right {
                width: 100% !important;
                margin-top: 80px;
            }
        }
    }
    .product-tabs {
        &-btns {
            display: none;
            .product-tabs-btn {
                display: none;
            }
        }
        .product-tab {
            display: block !important;
            &-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &-item {
                    width: 200px;
                    &:nth-of-type(3n + 2) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    &:nth-of-type(6n + 1),
                    &:nth-of-type(6n + 2),
                    &:nth-of-type(6n + 3) {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }
            }
        }
    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (max-width: 991.98px) {
    .categories {
        display: none;
    }
    .main-content {
        width: 100% !important;
        margin-left: 0 !important;
        padding: 20px !important;
    }
    .hot-topics {
        &-content {
            padding: 110px 40px;
            display: flex;
            flex-wrap: wrap;
            .hot-topic {
                width: 100% !important;
                &:nth-of-type(3n + 2) {
                    margin: 40px 0 !important;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
