$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px; 

$border-color-grey: #dfe5e8;
$text-color-grey: #5f727f;
$color-crimson: #e91d62;
$color-salmon: #f46f66;
$color-coral: #ff8636;
$color-gold: #ffc107;
$color-yellow-green: #c3d229;
$color-yellow-green-dark: #8ac149;


$font-montserrat:'Montserrat', sans-serif;
$font-sourceSansPro: 'Source Sans Pro', sans-serif;