@import 'variables';
@import 'root';

.container {
    width: 100vw;
    .main {
        max-width: 1200px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding-top: 110px;
        margin-bottom: 100px;
        @include sourceSansPro-regular;
        .main-content {
            width: 75%;
            margin-left: 40px;
            @include montserrat-bold;
            .classify {
                position: relative;
                overflow: hidden;
                padding-bottom: 40px;
                margin-bottom: 60px;
                #classify-pages {
                    width: 200%;
                    display: flex;
                    flex-wrap: nowrap;
                    transition: 0.5s;
                    .classify-page {
                        width: 50%;
                        display: flex;
                        flex-wrap: wrap;
                        .classify-item {
                            width: calc((100% - 80px) / 3);
                            height: 340px;
                            display: flex;
                            justify-content: center;
                            margin-bottom: 40px;
                            position: relative;
                            background: {
                                size: contain;
                                repeat: no-repeat;
                                origin: padding-box;
                            }

                            box-sizing: border-box;
                            border: 1px solid $border-color-grey;
                            &:nth-of-type(3n + 2) {
                                margin-left: 40px;
                                margin-right: 40px;
                            }
                            &-info {
                                width: 100%;
                                height: 84px;
                                position: absolute;
                                top: 210px;
                                left: 0;
                                .classify-item-link {
                                    width: 100%;
                                    height: 100%;
                                    background-color: #ffffff;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 1.6rem;
                                    span {
                                        text-transform: uppercase;
                                        padding: 8px 0;
                                    }
                                    span:first-child {
                                        color: #3c3950;
                                        font-size: 1.6rem;
                                        @include montserrat-bold;
                                    }
                                    span:last-child {
                                        border-top: 1px solid #00bcd4;
                                        color: #5f727f;
                                        font-size: 1.4rem;
                                        @include montserrat-regular;
                                    }
                                    &:hover {
                                        background-color: #393d50;
                                        span:first-child {
                                            color: #ffffff;
                                        }
                                        span:last-child {
                                            color: #99a9b5;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .btns {
                    width: 80px;
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 40px);
                    display: flex;
                    justify-content: space-between;
                    .classify-next-page-btn,
                    .classify-pre-page-btn {
                        width: 30px;
                        height: 30px;
                        border: 1px solid $border-color-grey;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                            color: #aaaaaa;
                        }
                    }
                    .classify-pre-page-btn {
                    }
                    .classify-next-page-btn {
                    }
                    .classify-pre-page-btn:hover,
                    .classify-next-page-btn:hover {
                        cursor: pointer;
                        background-color: #3c3950;
                    }
                }
            }
            .products {
                &-nav {
                    height: 50px;
                    background-color: #f0f3f2;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 15px;
                    &-left {
                        display: flex;
                        .products-nav-sorting {
                            width: 150px;
                            height: 30px;
                            padding: 0 15px;
                            background-color: #ffffff;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            position: relative;
                            color: #99a9b5;
                            font-size: 1.6rem;
                            @include sourceSansPro-regular;
                            &-selection {
                                width: 100%;
                                height: 30px;
                                padding: 0 15px;
                                border-radius: 2px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                i {
                                    font-size: 1.2rem;
                                }
                            }
                            &-options {
                                width: 150px;
                                position: absolute;
                                top: 30px;
                                left: 0;
                                display: none;
                                z-index: 3;
                                .products-nav-sorting-option {
                                    width: 100%;
                                    height: 30px;
                                    background-color: #ffffff;
                                    padding: 0 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }
                            }
                        }
                        .products-nav-desc-asc {
                            padding-left: 20px;
                            display: flex;
                            align-items: center;
                            color: #5f727f;
                            font-size: 1.4rem;
                            @include montserrat-ultra-light;
                            &-range {
                                width: 40px;
                                height: 24px;
                                background-color: #b6c6c9;
                                border-radius: 12px;
                                position: relative;
                                margin: 0 8px;
                                &-track {
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 50%;
                                    background-color: #ffffff;
                                    position: absolute;
                                    top: 4px;
                                    left: 4px;
                                }
                            }
                        }
                    }
                    &-right {
                        display: flex;
                        align-items: center;
                        .products-nav-showing-result {
                            color: #99a9b5;
                            font-size: 1.6rem;
                            @include sourceSansPro-regular;
                        }
                        .products-nav-show-page {
                            width: 150px;
                            height: 30px;
                            padding: 0 15px;
                            background-color: #ffffff;
                            margin-left: 20px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            position: relative;
                            color: #99a9b5;
                            font-size: 1.6rem;
                            @include sourceSansPro-regular;
                            &-selection {
                                width: 100%;
                                height: 30px;
                                padding: 0 15px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-radius: 2px;
                                i {
                                    font-size: 1.2rem;
                                }
                            }
                            &-options {
                                width: 150px;
                                position: absolute;
                                top: 30px;
                                left: 0;
                                display: none;
                                z-index: 3;

                                .products-nav-show-page-option {
                                    width: 100%;
                                    height: 30px;
                                    background-color: #ffffff;
                                    padding: 0 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }
                            }
                        }
                    }
                }
                &-list {
                    display: flex;
                    flex-wrap: wrap;
                    .products-list-item-link {
                        display: block;
                        &:hover > .products-list-item-content {
                            background-color: #f0f3f2;
                        }
                        &:hover .products-list-item-content-line {
                            transition: width 0.5s;
                            width: 80px;
                        }
                    }
                    .products-list-item {
                        width: calc((100% - 80px) / 3);
                        margin-top: 40px;
                        &:nth-of-type(3n + 2) {
                            margin-left: 40px;
                            margin-right: 40px;
                        }
                        &-img {
                            height: 326px;
                            background: {
                                image: url('/img/product2.jpg');
                                size: contain;
                                repeat: no-repeat;
                            }
                            border: 1px solid $border-color-grey;
                            position: relative;
                            & * {
                                border-radius: 50%;
                                font-size: 1.4rem;
                                @include montserrat-bold;
                                color: #ffffff;
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            &-sale-tag {
                                width: 60px;
                                height: 60px;
                                background-color: #00bcd4;
                                right: -20px;
                                top: 20px;
                                z-index: 2;
                            }
                            &-new-tag {
                                width: 50px;
                                height: 50px;
                                background-color: #393d50;
                                right: -15px;
                                top: 68px;
                                z-index: 1;
                            }
                        }
                        &-content {
                            max-width: 100%;
                            height: 144px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            border: 1px solid $border-color-grey;
                            & * {
                                margin: 6px 0;
                            }
                            &-stars {
                                height: 24px;
                                i {
                                }
                            }
                            &-line {
                                width: 50px;
                                height: 1px;
                                background-color: #00bcd4;
                                margin-bottom: 18px;
                                margin-top: 17px;
                            }
                            &-name {
                                color: #5f727f;
                                text-transform: uppercase;
                                font-size: 1.6rem;
                                @include montserrat-bold;
                            }
                            &-price {
                                color: #00bcd4;
                                font-size: 1.6rem;
                                @include sourceSansPro-regular;
                            }
                            &-view-cart {
                                height: 28px;
                                color: #99a9b5;
                                font-size: 1.4rem;
                                @include sourceSansPro-regular;
                                i {
                                    font-size: 1.2rem;
                                    margin-right: 4px;
                                }
                            }
                            &-view-wish-list {
                                @extend .products-list-item-content-view-cart;
                                i {
                                    font-size: 1.6rem;
                                }
                            }
                            &-style-icon {
                                @extend .products-list-item-content-view-cart;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                i {
                                    font-size: 1.6rem;
                                    margin: 0 8px;
                                }
                            }
                        }
                    }
                }
                &-change-pages {
                    max-width: 440px;
                    width: 100%;
                    margin: 20px auto 0 auto;
                    padding: 0 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & > * {
                        width: 30px;
                        height: 30px;
                        border-radius: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .products-change-page {
                        border: 1px solid #99a9b5;
                        color: #99a9b5;
                        font-size: 1.4rem;
                        @include montserrat-regular;
                        &:hover {
                            background-color: #00bcd4;
                            border-color: #00bcd4;
                            color: #ffffff;
                        }
                        &.current-page {
                            background-color: #3c3950;
                            border-color: #3c3950;
                            color: #ffffff;
                            cursor: default;
                            pointer-events: none;
                        }
                    }
                    &-btn {
                        background-color: #b6c6c9;
                        color: #ffffff;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                    &-pre-btn {
                    }
                    &-next-btn {
                    }
                }
            }
        }
    }
    .our-brand {
        width: 100vw;
        height: 430px;
        background-image: url('/img/our-brand-background.png');
        background-size: auto 100%;
        &-content {
            max-width: 1200px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            &-title {
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                font-size: 2.8rem;
                @include montserrat-light;
                color: #3c3950;
            }
            &-slides {
                width: 400%;
                display: flex;
                height: inherit;
                .our-brand-content-slide {
                    max-width: 1200px;
                    width: 100%;
                    height: 100%;
                    transition: 2s;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    & * {
                        // display: block;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        background-color: #dfe5e8;
                        &:hover {
                            background-color: #99a9b5;
                        }
                    }
                }
                input {
                    display: none;
                }
                #our-brand-content-slides-radio1:checked ~ .first-slide {
                    margin-left: 0;
                }
                #our-brand-content-slides-radio2:checked ~ .first-slide {
                    margin-left: -25%;
                }
                #our-brand-content-slides-radio3:checked ~ .first-slide {
                    margin-left: -50%;
                }
                #our-brand-content-slides-radio4:checked ~ .first-slide {
                    margin-left: -75%;
                }

                #our-brand-content-slides-radio1:checked
                    ~ .our-brand-content-slides-navigation-auto
                    .auto-btn1 {
                    background-color: #ffffff;
                    border: 4px solid #b6c6c9;
                }
                #our-brand-content-slides-radio2:checked
                    ~ .our-brand-content-slides-navigation-auto
                    .auto-btn2 {
                    background-color: #ffffff;
                    border: 4px solid #b6c6c9;
                }
                #our-brand-content-slides-radio3:checked
                    ~ .our-brand-content-slides-navigation-auto
                    .auto-btn3 {
                    background-color: #ffffff;
                    border: 4px solid #b6c6c9;
                }
                #our-brand-content-slides-radio4:checked
                    ~ .our-brand-content-slides-navigation-auto
                    .auto-btn4 {
                    background-color: #ffffff;
                    border: 4px solid #b6c6c9;
                }
                &-navigation-auto {
                    position: absolute;
                    bottom: 60px;
                    width: 100%;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    & * {
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background-color: #b6c6c9;
                        margin: 0 10px;
                        box-sizing: border-box;
                    }
                }
            }

            &-navigation-manual {
                position: absolute;
                bottom: 60px;
                width: 100%;
                left: 0;
                display: flex;
                justify-content: center;
                &-btn {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    // background-color: #b6c6c9;
                    margin: 0 10px;
                    box-sizing: border-box;
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover {
                        background-color: #ffffff;
                        border: 4px solid #b6c6c9;
                    }
                }
            }
        }
    }
    .news {
        width: 100%;
        max-width: 1200px;
        margin: 100px auto 0 auto;
        &-title {
            width: 100%;
            text-align: center;
            margin-bottom: 60px;
            font-size: 3.6rem;
            @include montserrat-light;
            color: #3c3950;
        }
        &-list {
            width: 100%;
            margin-top: 50px;
            padding-bottom: 40px;
            padding-left: 40px;
            border-bottom: 1px solid $border-color-grey;
            display: flex;
            &-item {
                width: calc((100% - 120px) / 4);
                margin-right: 40px;
                margin-bottom: 40px;
                &-img {
                    height: 188px;
                    width: 100%;
                    background-color: #dfe5e8;
                }
                &-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    background-color: #f0f3f2;
                    padding: 10px;
                    &-contact {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        &-author {
                            font-size: 1.6rem;
                            @include sourceSansPro-regular;
                            display: flex;
                            a {
                                color: #00bcd4;
                            }
                        }
                        &-icons {
                            font-size: 1.6rem;
                            display: flex;
                            justify-content: space-between;
                            i {
                                width: 40px;
                                text-align: center;
                                color: #99a9b5;
                            }
                            i:not(:last-child) {
                                border-right: 1px solid $border-color-grey;
                            }
                        }
                    }
                    &-title {
                        color: #3c3950;
                        line-height: 4rem;
                        font: {
                            family: $font-montserrat;
                            size: 2.4rem;
                        }
                        text-transform: uppercase;
                        margin: 44px 0 40px 0;
                        span:first-child {
                            font-weight: 800;
                        }
                        span:last-child {
                            font-weight: 400;
                        }
                    }
                    &-detail {
                        line-height: 3rem;
                        font-size: 1.6rem;
                        @include sourceSansPro-regular;
                        color: #5f727f;
                    }
                    &-viewer {
                        margin-top: 40px;
                        display: flex;
                        .viewer-share-btn {
                            width: 30px;
                            height: 30px;
                            background-color: #b6c6c9;
                            border-radius: 4px;
                            margin-right: 16px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #ffffff;
                            font-size: 1.6rem;
                        }
                        .viewer-read-more-btn {
                            height: 30px;
                            box-sizing: border-box;
                            padding: 0 12px;
                            color: #00bcd4;
                            border: 2px solid #00bcd4;
                            border-radius: 4px;
                            line-height: 30px;
                            cursor: pointer;
                            font-size: 1.4rem;
                            @include montserrat-bold;
                        }
                    }
                }
            }
        }
    }
    .payments {
        max-width: 1200px;
        width: 100%;
        margin: 2px auto 90px auto;
        padding-top: 74px;
        border-top: 1px solid $border-color-grey;
        display: flex;
        .payment {
            width: calc((100% - 40px) / 2);
            min-height: 300px;
            padding: 56px 120px 56px 56px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            border: {
                color: $border-color-grey;
                width: 1px;
                style: solid;
                top-right-radius: 50px;
                bottom-right-radius: 50px;
                bottom-left-radius: 50px;
            }
            &:nth-of-type(2n) {
                margin-left: 40px;
            }
            &-text {
                margin-bottom: 40px;
                color: #3c3950;
                font-size: 2.4rem;
                line-height: 3rem;
                @include montserrat-bold;
                span {
                    display: block;
                    margin-top: 40px;
                    line-height: 2.6rem;
                    color: #5f727f;
                    font-size: 1.6rem;
                    @include sourceSansPro-regular;
                }
            }
            &-logo {
                position: absolute;
                top: 50px;
                right: 50px;
                font-size: 4.6rem;
                color: #3c3950;
            }
            &-detail {
                margin-right: -120pscroll-up-btnx;
                &-cards {
                    display: flex;
                    flex-wrap: wrap;
                    .payment-detail-card {
                        width: 50px;
                        height: 32px;
                        margin: 0 30px 26px 0;
                        background-color: #dfe5e8;
                    }
                }
                &-shipping-method {
                    line-height: 3.6rem;
                    color: #5f727f;
                    font-size: 1.6rem;
                    @include sourceSansPro-regular;
                    i {
                        color: #00bcd4;
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .slogan {
        width: 100vw;
        height: 224px;
        background-color: #d1edac;
        &-content {
            max-width: 1200px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            &-logo {
                height: 80px;
                width: 80px;
                background-image: url('/img/logo1.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
            span {
                text-transform: uppercase;
                color: #3c3950;
                font-size: 4.2rem;
                @include montserrat-bold;
                &:nth-child(3) {
                    font-weight: 300 !important;
                }
            }
            &-btn {
                height: 50px;
                text-transform: uppercase;
                line-height: 50px;
                padding: 0 16px;
                margin-left: 60px;
                color: #3c3950;
                border: 3px solid #3c3950;
                font-size: 1.9rem;
                @include montserrat-bold;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .main-content {
        .classify {
            #classify-pages {
                .classify-page {
                    .classify-item {
                        width: calc(50% - 10px) !important;
                        height: 240px !important;
                        margin-bottom: 20px !important;
                        &:nth-of-type(3n + 2) {
                            margin: 0 !important;
                        }
                        &:nth-of-type(2n + 1) {
                            margin-right: 20px !important;
                        }
                        &-info {
                            top: unset !important;
                            bottom: 0;
                            left: 0;
                            .classify-item-link {
                                background-color: #dfdfdf !important;
                            }
                        }
                    }
                }
            }
        }
        .products {
            &-nav {
                display: none !important;
            }
            &-list {
                margin-right: -20px;
                .products-list-item {
                    width: calc((100% - 40px) / 2) !important;
                    &:nth-of-type(3n + 2) {
                        margin-left: unset !important;
                    }
                    margin-top: 20px !important;
                    margin-right: 20px !important;
                    &-img {
                        height: 240px !important;
                        &-sale-tag {
                            width: 40px !important;
                            height: 40px !important;
                            font-size: 1rem !important;
                        }
                        &-new-tag {
                            width: 30px !important;
                            height: 30px !important;
                            font-size: 1rem !important;
                        }
                    }
                }
            }
        }
    }
    
    .our-brand {
        &-content {
            &-slides {
                .our-brand-content-slide {
                    & * {
                        width: 60px !important;
                        height: 60px !important;
                    }
                }
                &-navigation-auto {
                    & * {
                        width:  24px !important;
                        height:  24px !important;
                    }
                }
            }

            &-navigation-manual {
                &-btn {
                    width:  24px !important;
                    height:  24px !important;
                }
            }
        }
    }
    
    .payments {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        .payment {
            width: 100% !important;
            &:nth-of-type(2n) {
                margin-left: 0 !important;
            }
        }
    }
    
    .news {
        &-list {
            padding-left: 20px !important;
            display: flex;
            flex-wrap: wrap;
            &-item {
                height: unset !important;
                width: 50% !important;
                margin-right: 20px !important;
                margin-bottom: 20px !important;
                &-content {
                    &-contact {
                        flex-wrap: wrap;
                        &-icons {
                           margin-top: 10px;
                        }
                    }
                    &-detail {
                        display: none;
                    }
                    &-viewer {
                        flex-wrap: wrap;
                        margin-top: 0 !important;
                        .viewer-share-btn {
                            margin-top: 20px;
                            
                        }
                        .viewer-read-more-btn {
                           margin-top: 20px
                        }
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}
@media (max-width: 991.98px) {
    .news {
        &-list {
            display: flex;
            flex-wrap: wrap;
            &-item {
                width: calc((100% - 80px) / 2) !important;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
