@import 'variables';
@import 'root';

.cart-menu-widgets {
    margin-top: 200px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .cart-menu-widget {
        // styel 1
        width: 288px;
        height: fit-content;
        border: 1px solid $border-color-grey;
        &-list {
            padding: 0;
            margin: 0;
            &-item {
                margin: 0;
                border-bottom: 1px solid $border-color-grey;
                position: relative;
                &-delete-btn {
                    width: 40px;
                    height: 40px;
                    font-size: 1.6rem;
                    color: #99a9b5;
                    line-height: 4rem;
                    text-align: center;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 2;
                    &:hover {
                        background-color: #dddddd;
                    }
                }
                &-link {
                    background-color: #ffffff;
                    display: flex;
                    padding: 14px;
                    &:hover{
                        opacity: 0.7;
                    }
                    .cart-menu-widget-list-item-img {
                        margin-right: 20px;
                        width: 80px;
                        height: 80px;
                        background-color: #888;
                    }
                    .cart-menu-widget-list-item-content {
                        color: #5f727f;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        & * {
                            margin: 4px 0;
                        }
                        font: {
                            family: $font-sourceSansPro;
                            weight: 400;
                            size: 1.6rem;
                        }
                        &-title {
                            text-transform: capitalize;
                            position: relative;
                            &.percent-tag::before {
                                content: '%';
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #ffffff;
                                width: 24px;
                                height: 24px;
                                border-radius: 50%;
                                background-color: #00bcd4;
                                position: absolute;
                                left: -30px;
                                top: -4px;
                            }
                        }
                        &-price {
                            display: flex;
                            align-items: baseline;
                            .cart-menu-widget-list-item-amount {
                                color: #99a9b5;
                                font-weight: 400;
                                font-size: 1.6rem;
                            }
                            .cart-menu-widget-list-item-price {
                                color: #3c3950;
                                font-weight: 300;
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
        &-place {
            padding: 34px 10px 10px 10px;
            background-color: #f0f3f2;
            &-subtotal {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font: {
                    family: $font-sourceSansPro;
                    weight: 400;
                }
                &-text {
                    font-size: 1.6rem;
                    color: #5f727f;
                }
                &-value {
                    font-size: 2.4rem;
                }
            }
            &-btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 32px;
                button {
                    width: 124px;
                    height: 30px;
                    border-radius: 2px;
                    text-transform: uppercase;
                    outline: none;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include montserrat2(bold, 1.4rem);
                    &:hover{
                        opacity: 0.7;
                    }
                }
                &__view-cart {
                    background-color: #00bcd4;
                    color: #ffffff;
                }
                &__checkout {
                    color: #000000;
                    border: 2px solid #000000 !important;
                }
            }
        }
    }
    .cart-menu-widget-style2.cart-menu-widget{
        //style 2
        .cart-menu-widget-list {
            padding: 24px 0 24px 24px;
            &-item {
                border: none;
                &:not(:last-child){
                    margin-bottom: 24px;
                }
                &-delete-btn {
                }
                &-link {
                    padding: 0;
                    .cart-menu-widget-list-item-img {
                        margin-right: 20px;
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
        &-place {
            padding: 34px 10px 10px 10px;
            background-color: #f0f3f2;
            &-subtotal {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font: {
                    family: $font-sourceSansPro;
                    weight: 400;
                }
                &-text {
                    font-size: 1.6rem;
                    color: #5f727f;
                }
                &-value {
                    font-size: 2.4rem;
                }
            }
            &-btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 32px;
                button {
                    width: 124px;
                    height: 30px;
                    border-radius: 2px;
                    text-transform: uppercase;
                    outline: none;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include montserrat2(bold, 1.4rem);
                    &:hover{
                        opacity: 0.7;
                    }
                }
                &__view-cart {
                    background-color: #00bcd4;
                    color: #ffffff;
                }
                &__checkout {
                    color: #000000;
                    border: 2px solid #000000 !important;
                }
            }
        }
    }
}


